@tailwind base;
@tailwind components;

.hero {
  @apply py-5 bg-purple-500;
  background: #261447;
}

.title {
  @apply text-5xl text-center text-white;
  line-height: 1.15;
}

.sidebar {
  @apply flex-none w-full text-white;
  background: #0d0221;
}

.editor {
  @apply flex-1 text-white;
  background: #2de2e6;
}

@tailwind utilities;
